<div class="navbar navbar-expand-sm navbar-light navbar-lewagon" data-controller="navbar" data-action="scroll@window->navbar#updateNavbar">
  <div class="container-fluid">
    <a class="d-flex justify-content-start align-items-center nav-link" href="/">
      <div class="navbar-brand"></div>
      <article>
        <h4 color= "white" class="mt-2">Cryptocademy</h4>
      </article>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <%# <% if user_signed_in? %>
        <li class="nav-item active">
          <li class="nav-item active">
            <%# <form class="d-flex nav-search" role="search" method="get" action="/search" target="_blank" >
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            </form> %>
            <%# <div class="cntr">
	          <div class="cntr-innr"  data-action="click->navbar#search> %>
            <i class="fa-solid fa-magnifying-glass fa-2x pt-1 me-2  white"></i>
            <%# </div> %>
            <%# </div> %>
          </li>
        </li>
        <li class="nav-item">
          <%= link_to "My Profile", dashboard_path, class: "nav-link" %>
        </li>
        <li class="nav-item dropdown">
          <%= image_tag "PFP.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <%= link_to "Action", "#", class: "dropdown-item" %>
            <%= link_to "Another action", "#", class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
          </div>
        </li>
        <%# <% else %>
        <%# <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
      </li>
    </ul>
  </div>
</div>
</div>
