<div class="card card-show m-2 col-12" data-content-swap-target="card">
  <div class="card-header card-header-show align-items-center text-align-center" data-content-swap-target="card_no" data-content-swap-order-value="<%= card.card_number %>">
    <div class="d-flex">
      <h2 class="card-title card-title-show w-100"><%= card.header %></h2>
    </div>
  </div>
  <div class="card-body card-body-show w-100">
    <div class="card-text"><%= card.content %></div>
  </div>
  <div class="d-flex col-11 justify-content-between mb-3 ms-4 ps-4">
    <% if card.id == last %>
      <%= render "shared/buttons_left", tag: "Back", link: "#" %>
      <%= render "shared/buttons_quiz", tag: "Take Quiz", link: "/lessons/#{lesson}/quiz" %>
    <% else %>
      <%= render "shared/buttons_left", tag: "Back", link: "#" %>
      <%= render "shared/buttons_right", tag: "Next", link: "#", card: card %>
    <% end %>
  </div>
</div>
