<div class="card card-show m-2 col-12" data-content-swap-target="card">
  <div class="card-header card-header-show align-items-center text-align-center" data-content-swap-target="question_no" data-content-swap-order-value="<%= question.id %>">
    <div class="d-flex">
      <i class="fa-regular fa-circle-xmark flex-shrink-1" data-action="click->open-popup#closePopup"></i>
      <h2 class="card-title card-title-show w-100"><%= question.content %></h2>
    </div>
  </div>
  <div class="card-body card-body-show">
    <% @answers.each do |answer| %>
      <p class="card-text"><%=  %> - <%= answer.content %></p>
    <% end %>
  </div>
  <div class="d-flex col-11 justify-content-between ms-4 ps-4">
    <%= render "shared/buttons_left", tag: "Back", link: "#" %>
    <%= render "shared/buttons_right", tag: "Next", link: "#" %>
  </div>
</div>
