<div class="container container-dashboard">
  <div class="banner-index">
    <h1 class="pt-2">Developer</h1>
    <p>Resources for building on Web3 & the blockchain!</p>
    </div>
  <div class="d-flex mt-5 mb-5 justify-content-between">
    <%# Container %>
    <div class="track-container">
      <div class="track-card">
        <div class="imgBx">
          <img src="<%= asset_path('Dev/lifedeath.gif') %>" alt="Basic Banana Juice!" class="gradient-border">
        </div>
        <div class="contentBx">
          <h2>Programming Basics</h2>
          <div class="size">
            <p>Brush up on C++, Javascript</p>
          </div>
          <div class="color">
          </div>
          <a class="popup-button" href="/lessons">Start</a>
        </div>
      </div>
    </div>
    <%# Container %>
    <div class="track-container">
      <div class="track-card">
        <div class="imgBx">
          <img src="<%= asset_path('Dev/destiny.gif') %>" alt="STONKS!">
        </div>
        <div class="contentBx">
          <h2>Immutability</h2>
          <div class="size">
            <p>Underlying fundamentals of coding immutably</p>
          </div>
          <div class="color">
          </div>
          <a href="/investing">Start</a>
          </div>
        </div>
      </div>
    <%# Container %>
    <div class="track-container">
      <div class="track-card">
        <div class="imgBx">
          <img src="<%= asset_path('Dev/quarantine.gif') %>" alt="The Merge by Azuki">
        </div>
        <div class="contentBx">
          <h2>Solidity</h2>
          <div class="size">
            <p>Interact with Ethereum Virtual Machines</p>
          </div>
          <div class="color">
          </div>
          <a href="https://docs.soliditylang.org/en/v0.8.17/">Start</a>
        </div>
      </div>
    </div>
    <%# Dev Track %>
    <div class="track-container">
      <div class="track-card">
        <div class="imgBx">
          <img src="<%= asset_path('Dev/security.gif') %>" alt="The Merge by Azuki">
        </div>
        <div class="contentBx">
          <h2>Security</h2>
          <div class="size">
            <p>Deal with security flaws and thieves</p>
          </div>
          <div class="color">
          </div>
          <a href="/developer">Start</a>
        </div>
      </div>
    </div>
      <%# Track Cards End %>
</div>
<div class="container container-dashboard">
  <div class="d-flex mt-5 mb-5 justify-content-between">
    <%# Basics Track %>
    <div class="track-container">
      <div class="track-card">
        <div class="imgBx">
          <img src="<%= asset_path('Dev/yinyang.gif') %>" alt="Basic Banana Juice!" class="gradient-border">
        </div>
        <div class="contentBx">
          <h2>Smart Contracts</h2>
          <div class="size">
            <p>The key to it all!</p>
          </div>
          <div class="color">
          </div>
          <a class="popup-button" href="/lessons">Start</a>
        </div>
      </div>
    </div>
    <%# Investor Track %>
    <div class="track-container">
      <div class="track-card">
        <div class="imgBx">
          <img src="<%= asset_path('Dev/gaming.gif') %>" alt="STONKS!">
        </div>
        <div class="contentBx">
          <h2>Web3 Gaming</h2>
          <div class="size">
            <p>Build the next great classic</p>
          </div>
          <div class="color">
          </div>
          <a href="/investing">Start</a>
          </div>
        </div>
      </div>
    <%# Dev Track %>
    <div class="track-container">
      <div class="track-card">
        <div class="imgBx">
          <img src="<%= asset_path('Dev/gaming2.gif') %>" alt="The Merge by Azuki">
        </div>
        <div class="contentBx">
          <h2>AR/VR & Metaverses</h2>
          <div class="size">
            <p>Zucker's vision is flawed.</p>
          </div>
          <div class="color">
          </div>
          <a href="/developer">Start</a>
        </div>
      </div>
    </div>
    <%# Dev Track %>
    <div class="track-container">
      <div class="track-card">
        <div class="imgBx">
          <img src="<%= asset_path('Dev/art.gif') %>" alt="The Merge by Azuki">
        </div>
        <div class="contentBx">
          <h2>Project Building</h2>
          <div class="size">
            <p>Putting it all together!</p>
          </div>
          <div class="color">
          </div>
          <a href="/developer">Start</a>
        </div>
      </div>
    </div>
      <%# Track Cards End %>
</div>
